* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
}

.main {
  height: 100%;
  width: 100%;
  background-color: black;
}

.navbar {
  height: 6%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navbar a {
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 15px;
}

.discount {
  height: 7.5%;
  width: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount p {
  color: white;
  font-size: small;
  font-weight: 300;
}
.discount a {
  color: #0c75de;
}

.discount a:hover {
  transform: translateY(-5px);
  transition: 0.5s transform ease-out;
}

.hero {
  width: 100%;
  height: 110%;
  background: url(./images/hero__bdntboqignj6_medium_2x.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.herOverlay {
  width: 100%;
  position: absolute;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.herOverlay button {
  font-size: larger;
  font-weight: medium;
  padding: 10px 20px;
  background-color: #3a63df;
  color: white;
  border: none;
  border-radius: 100px;
}

.herOverlay p {
  font-weight: medium;
  font-size: larger;
  color: white;
}

.herOverlay button:hover {
  background-color: #456bdc;
  cursor: pointer;
}

.iphone {
  width: 100%;
  height: 80%;
  background: url(./images/class_iphone.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

.iphoneComp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
}

.iphoneComp h1 {
  line-height: 1;
  font-size: 50px;
}

.iphoneComp p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 30px;
}

.ip_btn {
  margin-top: 19px;
}

.ipbtn1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
}

.ipbtn2 {
  padding: 8px 30px;
  background-color: white;
  color: #0c75de;
  border: 1px solid #0c75de;
  font-size: 18px;
  border-radius: 100px;
}

.creStd {
  width: 100%;
  height: 80%;
  background: url(./images/class_creStd.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

.creCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
  color: white;
}

.creCont h1 {
  line-height: 1;
  font-size: 50px;
}

.crep1 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 30px;
}

.crep2 {
  margin-top: 3px;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.5;
}

.crebtn {
  margin-top: 19px;
}
.crebtn1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
}
.crebtn2 {
  padding: 8px 30px;
  background-color: black;
  color: #0c75de;
  border: 1px solid #0c75de;
  font-size: 18px;
  border-radius: 100px;
}
