* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
}

.main {
  height: 100%;
  width: 100%;
  background-color: black;
}

.navbar {
  height: 6%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navbar a {
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 15px;
}

.discount {
  height: 7.5%;
  width: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount p {
  color: white;
  font-size: small;
  font-weight: 300;
}
.discount a {
  color: #0c75de;
}

.discount a:hover {
  transform: translateY(-5px);
  transition: 0.5s transform ease-out;
}

.hero {
  width: 100%;
  height: 110%;
  background: url(./images/hero__bdntboqignj6_medium_2x.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.herOverlay {
  width: 100%;
  position: absolute;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.herOverlay button {
  font-size: larger;
  font-weight: medium;
  padding: 10px 20px;
  background-color: #3a63df;
  color: white;
  border: none;
  border-radius: 100px;
}

.herOverlay p {
  font-weight: medium;
  font-size: larger;
  color: white;
}

.herOverlay button:hover {
  background-color: #456bdc;
  cursor: pointer;
}

.iphone {
  width: 100%;
  height: 80%;
  background: url(./images/class_iphone.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

.iphoneComp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
}

.iphoneComp h1 {
  line-height: 1;
  font-size: 50px;
}

.iphoneComp p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 30px;
}

.ip_btn {
  margin-top: 19px;
}

.ipbtn1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
}

.ipbtn2 {
  padding: 8px 30px;
  background-color: white;
  color: #0c75de;
  border: 1px solid #0c75de;
  font-size: 18px;
  border-radius: 100px;
}

.creStd {
  width: 100%;
  height: 80%;
  background: url(./images/class_creStd.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

.creCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
  color: white;
}

.creCont h1 {
  line-height: 1;
  font-size: 50px;
}

.crep1 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 30px;
}

.crep2 {
  margin-top: 3px;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.5;
}

.crebtn {
  margin-top: 19px;
}
.crebtn1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
}
.crebtn2 {
  padding: 8px 30px;
  background-color: black;
  color: #0c75de;
  border: 1px solid #0c75de;
  font-size: 18px;
  border-radius: 100px;
}

.promo_grid {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 30px;
}

.privacy {
  width: calc(50% - 40px);
  height: 580px;
  background: url(./images/promo_privacy_day.jpg);
  background-position: center;
  background-size: cover;

  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 55px;
  gap: 4px;
}

.h1pri {
  font-size: 40px;
  font-weight: 500;
}

.privacy p {
  font-weight: 300;
  font-size: 20px;
}

.btnpri {
  margin: 13px;
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

.tradein {
  width: calc(50% - 40px);
  height: 580px;
  background: url(./images/promo_tradeIn.jpg);
  background-position: center;
  background-size: cover;

  color: black;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-top: 60px;
}

.pictrade {
  height: 40px;
  width: auto;
  object-fit: cover;
}

.tradein p {
  font-weight: 300;
  font-size: 20px;
}

.tradp1 {
  padding-top: 8px;
}

.btntrade {
  margin: 13px;
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

.watchBand {
  width: calc(50% - 40px);
  height: 580px;
  background: url(./images/promo_apple_watch.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.wbimg {
  height: 40px;
  width: auto;
  object-fit: cover;
}

.watchBand p {
  font-weight: 300;
  font-size: 20px;
}

.wbp1 {
  padding-top: 8px;
}

.wbbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  gap: 7px;
}

.wb_btn1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

.wb_btn2 {
  padding: 8px 30px;
  background-color: white;
  color: #0c75de;
  border: 1px solid #0c75de;
  border-radius: 100px;
  font-size: 15px;
}

.watch {
  width: calc(50% - 40px);
  height: 580px;
  background: url(./images/promo_watch_unity.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-top: 50px;
}

.bndimg {
  height: 40px;
  width: auto;
  object-fit: cover;
}

.watch p {
  font-weight: 300;
  font-size: 20px;
}

.wtch1 {
  padding-top: 12px;
}

.watch button {
  margin: 15px;
  padding: 8px 30px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

.macbook {
  width: 100%;
  height: 80%;
  background: url(./images/macbook_pro_m5.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-top: 30px;
}

.macbook h1 {
  color: white;
  font-size: 50px;
}

.macbook p {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.macbtn {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.macbtn1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
}

.macbtn2 {
  padding: 8px 30px;
  background-color: white;
  color: #0c75de;
  border: 1px solid #0c75de;
  border-radius: 100px;
  font-size: 18px;
}

.ipad {
  width: calc(50% - 40px);
  height: 580px;
  background: url(./images/new_ipad_air.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-top: 60px;
}

.ipadimg {
  height: 40px;
  width: auto;
}

.ipad p {
  color: black;
  font-weight: 300;
  font-size: 20px;
  padding-top: 8px;
}

.ipadbtn {
  margin: 13px;
  display: flex;
  gap: 10px;
}

.ipadbtn1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

.ipadbtn2 {
  padding: 8px 30px;
  background-color: white;
  color: #0c75de;
  border: 1px solid #0c75de;
  border-radius: 100px;
  font-size: 15px;
}

.ipadPro {
  width: calc(50% - 40px);
  height: 580px;
  background: url(./images/ipad_pro.jpg);
  background-position: center;
  background-size: cover;

  color: white;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-top: 40px;
}

.ipadPro h1 {
  font-size: 40px;
  font-weight: 500;
}

.ipadPro p {
  font-weight: 300;
  font-size: 20px;
}

.btnipro {
  margin: 13px;
  display: flex;
  gap: 10px;
}

.btnipro1 {
  padding: 8px 30px;
  background-color: #0c75de;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

.btnipro2 {
  padding: 8px 30px;
  background-color: white;
  color: #0c75de;
  border: 1px solid #0c75de;
  border-radius: 100px;
  font-size: 15px;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 20px 215px 20px 215px;
  background-color: #f5f4f6;
  font-size: small;
  color: #7f7e7f;
}

.firstPart {
  display: flex;
  justify-self: center;
  align-items: right;
  flex-direction: column;
  gap: 10px;
}

.firstPart a {
  color: #626362;
}

.hrzline {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  background-color: #626362;
}

.storelink {
  margin-top: 10px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-top: 10px;
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-right: 200px;
}
